.card_profile{
    position: "absolute";
    padding: 10px;
    width: 400px;
    border: 1px solid black;
    margin-top: 10px;
    text-align: center;
}
.card_profile_image{
    width: auto;
    height: 200px;
}
.card_popup_image{
    height: 50px;
    width: 50px;
}
.card_profile_first_nested{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.card_profile_description{
    padding-top: 10px;
}
