.main{
    position: "absolute";
    padding: 10px;
    width: 500px;
    border:1px solid black;
    margin-top: 10px;
}
.main_first_nested{
    display: flex;
    flex-direction: row;
}
.main_image{
    width: 200px;
    height: 200px;
    padding-right: 10;
}
.main_description{
    padding-left: 10px;
    /* width: 'auto' */
    width:'auto'
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }